
h1 { 
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}

.nav-wrapper{
    background-color: #C62828;
}

.collapsible-header {
    display: block;
    background-color: rgb(253, 133, 112); 
}

span {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

.row1 {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 1.7fr 1.7fr 1.5fr .8fr;
    grid-template-areas: "nav nav"
                         "timer todo"
                         "cutepix memeGen"
                         "api1 api2"
                         "footer footer";
    grid-gap: 2px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    /* margin: 10px;
    padding: 10px;  */
}

#timer {
    background-color: white;
    grid-area: timer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#todo {
    background-color: white;
    grid-area: todo;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#cutepix {
    /* background-color: cadetblue; */
    grid-area: cutepix;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#memeGen {
    /* background-color: cadetblue; */
    grid-area: memeGen;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#todo p {
    color: white;
    background-color: #C62828;
}

.label {
    color: black;
}


#cutepix {
    grid-area: cutepix;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#memeGen {
    grid-area: memeGen;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#api1 {
    background-color: rgb(253, 133, 112);
    grid-area: api1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#api2 {
    background-color: rgb(253, 133, 112);
    grid-area: api2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}

.toDo {
    text-align: left;
    max-width: 80%;
}

.toDoBtn {
    justify-content: right;
}
.liSpacing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    word-break: break-all;
}


#footer {
    grid-area: footer;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-weight: normal; 
}

@media only screen and (max-width: 600px) {
    .row1 {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:    "nav"
                                "method"
                                "timer"
                                "todo"
                                "cutepix"
                                "memeGen"
                                "api1"
                                "api2"
                                "footer";
    }
}

